$body_bkg: var(--body_bkg);
$form_card: var(--form_card);
$text: var(--text);
$placeholder: var(--placeholder);
$primary: var(--primary);
$accent: var(--accent);
$shadowColor: var(--shadowColor);
$btnColor: var(--btnColor);
$border: var(--border);
$border_primary: var(--border_primary);
$error: var(--error);